.shape1 {
    height: fit-content;
    width: 300;
    border-bottom: 30px solid transparent;
    border-left: 20px solid rgb(0, 255, 21);
    border-right: 20px solid transparent;
    background-color: aqua;
    font-size: larger;
  }